body, html {
    margin: 0;
    padding: 0;
}

.class {
    text-align: center;
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333; 
    color: #fff; 
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.home-button:hover {
    background-color: #555; 
    
}
